.room-list li {
	background-color: #d7d7af;
	margin:5px;
	padding: 5px;
}

.room-list li {
	color: black;
}

.room-list li:hover {
	background-color: #d7ff87;
}

.room-list li:target {
	background-color: #5fafd7;
}

input {
	width: 100%;
}
